<style>
  .required-field {
    font-family: GretaArabic, sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-decoration: inherit;
    text-transform: none;
    text-align: left;
    color: #d91c29;
    background-image: none;
    background-color: transparent;
  }

  label{
    -webkit-text-size-adjust: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    white-space: normal;
    word-spacing: normal;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent !important;
    background-color: transparent;
    font-family: GretaArabic,sans-serif;
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
    text-transform: none;
    padding: 0px 2px 0px 0px;
    color: #029A8E;
    text-align: left;
    width: 100%;
  }
</style>

<label
  data-test-id="202102241415140145949-Label"
  class="field-caption dataLabelForWrite green_lbl_add_user_dataLabelForWrite icon-required"
  for="msf8a8df50"
  data-required="*"
  >التصنيف الرئيسي
  <span class="required-field">*</span>
</label>
